rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read and write to your database.
    // It is NOT SECURE and should only be used for development.
    // Before deploying to production, you must secure your database.
    // See: https://firebase.google.com/docs/firestore/security/get-started
    match /{document=**} {
      allow read, write: if true;
    }
  }
}